body{
  background-color: #BDBDBD;
}

/************
//-------------------------------
// CABECERA
//-------------------------------
************/
#main-header {
    background: #0097A7;
    color: white;
    height: 80px;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
}
  #main-header a {
      color: white;
  }
/*
 * Navegación
 */
nav {
  float: right;
  font-family: 'Press Start 2P', cursive;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
}

nav ul li a {
  display: block;
  padding: 0 10px;
  text-decoration: none;
}

nav ul li a:hover {
  background: #757575;
}

/*Contenido*/

.main-content {
    background: white;
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    padding-top: 100px;
    text-align: center;
    font-family: 'Lobster', cursive;
}
.tecnologias{
  font-family: 'Geostar Fill', cursive;
  display: inline-block;
}
.tecnologias img{
  max-width: 60px;
}
